<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhz.serviceedu.mapper.EduCourseMapper">
    <!--sql语句：根据课程id查询课程确认信息-->
    <select id="getPublishCourseInfo" resultType="com.hhz.serviceedu.entity.vo.CoursePublishVo">
        SELECT ec.id,ec.title,ec.price,ec.lesson_num AS lessonNum,ec.cover,
               et.name AS teacherName,
               es1.title AS subjectLevelOne,
               es2.title AS subjectLevelTwo
        FROM edu_course ec LEFT OUTER JOIN edu_course_description ecd ON ec.id=ecd.id
                           LEFT OUTER JOIN edu_teacher et ON ec.teacher_id=et.id
                           LEFT OUTER JOIN edu_subject es1 ON ec.subject_parent_id=es1.id
                   LEFT OUTER JOIN edu_subject es2 ON ec.subject_id=es2.id
        WHERE ec.id=#{courseId}
    </select>

    <!--sql语句：根据课程id查询课程基本信息-->
    <select id="getBaseCourseInfo" resultType="com.hhz.serviceedu.entity.frontvo.CourseWebVo">
        SELECT ec.id AS id,ec.title AS title,ec.price AS price,ec.lesson_num AS lessonNum,ec.cover,
               ec.buy_count AS buyCount,ec.view_count AS viewCount,
               ecd.description AS description,
               et.id AS teacherId,et.name AS teacherName,et.intro AS intro,et.avatar AS avatar,
               es1.id AS subjectLevelOneId,es1.title AS subjectLevelOne,
               es2.id AS subjectLevelTwoId,es2.title AS subjectLevelTwo
      FROM edu_course ec LEFT OUTER JOIN edu_course_description ecd ON ec.id=ecd.id
                    LEFT OUTER JOIN edu_teacher et ON ec.teacher_id=et.id
                    LEFT OUTER JOIN edu_subject es1 ON ec.subject_parent_id=es1.id
		            LEFT OUTER JOIN edu_subject es2 ON ec.subject_id=es2.id
        WHERE ec.id=#{courseId}
    </select>

    <insert id="saveCollect">
        insert into edu_course_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">id,</if>
        <if test="courseId != null">course_id,</if>
        <if test="memberId != null">member_id,</if>
        <if test="gmtCreate != null">gmt_create,</if>
        <if test="gmtModified != null">gmt_modified,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
        </trim>
    </insert>

    <resultMap id="courseCollect" type="com.hhz.serviceedu.entity.EduCourseCollect">
        <result property="courseId" column="course_id"/>
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="delete" column="is_deleted"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <select id="getCourseCollect" parameterType="String" resultMap="courseCollect">
        select * from edu_course_collect where member_id=#{memberId} and is_deleted=0
    </select>
</mapper>
